<div class="panel panel-primary price">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">Enterprise</h1>
  </div>
  <div class="panel-body">
    <h2 class="panel-title">$69</h2>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Unlimited Posts</li>
    <li class="list-group-item">Unlimited Images</li>
    <li class="list-group-item">99% Stronger Erections</li>
    <li class="list-group-item">99% Increased Libido</li>
  </ul>
  <div class="panel-body">
    <a class="btn btn-lg btn-primary" href="/exodus/enterprise">Get Enterprise!</a>
  </div>
</div>