<div class="panel panel-success price">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">Professional</h1>
  </div>
  <div class="panel-body">
    <h2 class="panel-title">$49</h2>
  </div>
  <ul class="list-group">
    <li class="list-group-item">1000 Posts</li>
    <li class="list-group-item">2000 Images</li>
    <li class="list-group-item">50% Stronger Erections</li>
    <li class="list-group-item">69% Increased Libido</li>
  </ul>
  <div class="panel-body">
    <a class="btn btn-lg btn-success" href="/exodus/professional">Get Professional!</a>
  </div>
</div>