<div class="panel panel-danger price">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">Personal</h1>
  </div>
  <div class="panel-body">
    <h2 class="panel-title">$29</h2>
  </div>
  <ul class="list-group">
    <li class="list-group-item">100 Posts</li>
    <li class="list-group-item">200 Images</li>
    <li class="list-group-item">24% Stronger Erections</li>
    <li class="list-group-item">32% Increased Libido</li>
  </ul>
  <div class="panel-body">
    <a class="btn btn-lg btn-danger" href="/exodus/personal">Get Personal!</a>
  </div>
</div>