<!DOCTYPE html>
<html lang="en">
  {% include 'head' %}
  <body>
    <div class="container">
      {% include 'masthead' %}

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1><i class="glyphicon glyphicon-tree-conifer"></i> Mount Exodus</h1>
        <h2>Movable Type to WordPress Migration Utility</h2>
        <p class="lead">Mount Exodus will convert your TypePad / Movable Type data export into a WordPress import friendly format for free!</p>
        <p><b>What about my images!</b>  Good question.  Mount Exodus will produce an image audit for you to easily archive and re-write your posts to reference them on your WordPress hosting provider.</p>
        <p><b>100%</b> free to evaluate, test, and deploy!  Payment is based on your honor.</p> 
        <p><b><a href="http://vimeo.com/22053820" target="_new">F*ck&nbsp;you!&nbsp;Pay&nbsp;Me.</a></b> If this utility works for you, great.  If not, I'm confident your mother is to blame for your website development ineptitude.</p>
        <p><a class="btn btn-lg btn-success" href="/exodus/enterprise" role="button">Get started today</a></p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          {% include 'small' %}
        </div>
        <div class="col-lg-4">
          {% include 'medium' %}
       </div>
        <div class="col-lg-4">
          {% include 'large' %}
        </div>
      </div>

      {% include 'footer' %}
    </div> <!-- /container -->
  </body>
</html>