<!DOCTYPE html>
<html lang="en">
  {% include 'head' %}
  <body>
    <div class="container">
      {% include 'masthead' %}

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1><i class="glyphicon glyphicon-tree-conifer"></i> Mount Exodus</h1>
        <h2>Movable Type to WordPress Migration Utility</h2>
        <p class="lead">Mount Exodus will convert your TypePad / Movable Type data export into a WordPress friendly RSS feed.</p>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <h2>Let's Go!</h2>
          {% include 'upload' %}
        </div>
        <div class="col-lg-4">
          <h3>Help!</h3>
          <p>If all of this seems a bit overwhelming, please email me and I'll do the work for you.  I typically charge <strong class="bg-success p3">$299</strong> (price varies based on website complexity)</p>
          <p>Get in touch and we'll work something out: <a href="mailto:joe@joecode.com">joe@joecode.com</a></p>
          <h4>Images FTW?</h4>
          <p><em class="info">What about my images?</em>  Good question.  During the conversion Mount Exodus will will re-write image references and produce a list of images you can use to download.  <strong class="bg-success p3">NO LOST IMAGES!</strong></p>
        </div>
      </div>
      {% include 'footer' %}
    </div> <!-- /container -->
  </body>
</html>